
/Dataset/
/GroundTruth
/__pycache__
resultPCL.pcd
showGTwithoutFakePoints.py
showIMG.py
testModel.py
/trainingDone
/unused
results.txt
/images
/pclFiles
/pclResultView/CMakeCache.txt
/pclResultView/CMakeFiles
/pclResultView/cmake_install.cmake
/pclResultView/Makefile
/pclResultView/pclResultView

Model.tar

/pclviewer/CMakeCache.txt
/pclviewer/CMakeFiles
/pclviewer/cmake_install.cmake
/pclviewer/Makefile
/pclviewer/pclviewer


/pclRotator/CMakeCache.txt
/pclRotator/CMakeFiles
/pclRotator/cmake_install.cmake
/pclRotator/Makefile
/pclRotator/pclRotator

/kitti2pcl/bin
/kitti2pcl/CMakeCache.txt
/kitti2pcl/CMakeFiles
/kitti2pcl/cmake_install.cmake
/kitti2pcl/Makefile
/kitti2pcl/src/CMakeFiles
/kitti2pcl/cmake/CMakeFiles
/kitti2pcl/cmake/Makefile
/kitti2pcl/cmake/cmake_install.cmake
/kitti2pcl/src/Makefile
/kitti2pcl/src/cmake_install.cmake
/kitti2pcl/src/CMakeCache.txt

pclFiles/rotatedPCL
pclFiles/test
pclFiles/train
pclFiles/pclFilesWithClasses

universalResultForRoad-TrainedOn229
universalResultForRoad-TrainedOn9618
result.pcd
