/backup
/pclFiles
/__pycache__
/stats
/unused
actualize.sh

/binFiles
binToPCLscript.sh
CMakeCache.txt
/CMakeFiles
cmake_install.cmake
CMakeLists.txt
finishDataset.sh
fourTimesGT.sh
fourTimesTensors.sh
gridMaker.py
/groundTruth
groundTruthTensorMaker.py
gtFlip.py
kitti2pcd
/kitti-pcl-master
Makefile
pclToStats.sh
pclviewer.cpp
pclwiever
statsView.py
tensorFlip.py
tensorsCreate.sh
MaxACCModel.tar
