/backup
/__pycache__
/stats
/unused
actualize.sh

/binFiles


finishDataset.sh
fourTimesGT.sh
fourTimesTensors.sh



kitti2pcd
/kitti-pcl-master
Makefile


/pclviewer
tensorFlip.py
tensorsCreate.sh
MaxACCModel.tar
/Dataset/gtTensors/*
/Dataset/test_Tensors/*
/Dataset/trainTensors/*
/groundTruthTensors
/pclFiles/rotatedPCL/*
/pclFiles/pclFilesWithClasses/*
/tensors
/rotator
!/rotator/rotator
ipm.py
